/*
	Theme Name: Blogit
	Author: Steve George
	Edited by: Anu
*/

body {

	padding: 0;
	margin: 0;
	background: #efefef;	
}

/* BLOCK LAYOUT
------------------------------------------------------------------------ */


/* .container {
	width: 100%;
	max-width: 960px;
	margin: 50px auto;
	background: #fff;
	padding: 0;
} */

header.main {
	width: 100%;
	clear: both;
	min-height: 100px;
	background-color: #ddd;
	color: #fff;
	padding-left: 30px;
	padding-top: 3%;
	box-sizing: border-box;
}

header h1{
	color: #000;
	/* padding-bottom: 10%; */
}

#content {
	width: 100%;
	margin-right: 0;
	background: #fff;
	/* border-top: 1px solid #cfcfcf; */
}

#primary {
	width: 100%;
	float: right;
	padding: 3%;
	border: none;
}

#secondary {
	width: 100%;
	float: left;
	padding: 3% 3% 6%;
	/* border-top: 1px solid #cfcfcf; */
	background: #efefef;
}

footer.main {
	width: 100%;
	clear: both;
	min-height: 100px;
	line-height: 100px;
	text-align: center;
	background: #666;
	color: #FFF;
	margin-top: 50px;
}

/* TYPOGRAPHY
------------------------------------------------------------------------ */

.site_title  {
	padding: 0;
	margin: 0;
	line-height: 100px;
	color: #337ab7;
	font-size: 30px;
	font-weight: 700;
}

h1.archive_title {

	color: #EDA809;
	font-size: 300%;
	border-bottom: 1px solid #666;
	padding-bottom: 10px;
	margin-bottom: 20px;

}

footer p {
	margin: 0;
}


/* NAVIGATION
------------------------------------------------------------------------ */

ul.menu {
	padding-left: 0;
}

ul.menu li {
	list-style-type: none;
}

ul.list-inline li {
	list-style-type: none;
	display: inline-block;
	padding: 0 3%;
	
}

/* MEDIA QUERIES
------------------------------------------------------------------------ */

@media screen and (min-width: 768px) {

	#primary {
		width: 78%;
		border-left: 1px solid #cfcfcf;
		/* border-right: 1px solid #cfcfcf; */
	}

	#secondary {
		width: 22%;
		background: #fff;
		/* height: 500px; */
	}

}