/**
    Theme Name: WDD Test One
    Author: Anu
*/

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul#menu_navigation.menu li {
    padding:5px;
}

li.current-menu-item a {
    color:#fff;
    background: #000;
    padding: 2px;
    text-decoration: none;
}

li.current-menu-item .sub-menu a {
    background: none;
    color: #000;
    text-decoration: underline;

}