/** 
*   Theme Name: After School
*   Author: Anu Kulshrestha
*/

/* CSS for the whole webpage */
body {
    background: #e5f2fc;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    margin-top: 1px;
}

/* main container of the web page where all content is shown */
#wrapper {
    width: 960px;
    margin: 0 auto;
    
}

/* header of the web page  */
header {
    background: #0164aa;
    box-sizing: border-box;
    margin-bottom: 0;
    padding-bottom: 0;
    margin-top: 0;    
}

/* header's top navigation CSS */
#top-right-nav ul {
    text-align: right;
    margin: 0%;    
}

#top-right-nav ul li {
    display: inline-block;
    list-style-type: none;
    padding-top: 1.5%;
    padding-right: 2%;
    font-weight: 400;
    font-size: 0.8em;
}

#top-right-nav ul li:last-of-type {
    padding-right: 0.8%;
}

#top-right-nav ul li a {
    color: #e0edf8;
    text-decoration: none;    
}

#top-right-nav ul li a:hover {
    text-decoration: underline;
}

/* header's logo image CSS */
header img {
    margin-left: 2%;
    margin-bottom: 2%;
    margin-top: 4%;
}

/* header's main navigation CSS */
#main-nav {
    background: #2e88c9;
}

#main-nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

#main-nav ul li {
    display: inline-block;
    list-style-type: none;
    padding: 1% 2.5%;
    border-right: 1px #fff solid;
    font-weight: 400;
    font-size: 0.8em;
    pointer-events: auto;   
}

#main-nav ul li:hover {
    background: #a4d1f2;    
}

#main-nav ul li:hover a {    
    color: #1d75cf;    
}

#main-nav ul li a {
    display: inline-block;
    color: #e0edf8;
    text-decoration: none;
    text-align: center;
    font-weight: 600;    
    pointer-events: auto;
}

/* Section tag of web page containing the content other than header and footer */
section {
    margin-top: 0;
    padding-top: 0;
}

/* section main div */
section #content {
    display: flex;
    flex-flow: row wrap;
    background: #fff;
    box-sizing: border-box;
    margin: 0;
    padding: 0;    
}

/* section primary div containing the page info */
#primary {
    flex: 9;
    padding-left:2.5%;
    padding-right:2.5%;
    box-sizing: border-box;
    border-right: 1px solid #000;    
}

#primary h1 {
    font-size: 1.8em;
    color: #f99e2a;
    margin-bottom: 1.8%; 
}

#primary article h2 {
    margin-top: 0%;
    margin-bottom: 1%;    
    /* font-size: 1.5em; */
    color: #677ab7;
}

/* extra CSS for heading on Page.php and Single.php */
#primary article h2#single-page-heading {
    margin-top: 3%;
}

article a.post-title {
    text-decoration: none;
    color: #677ab7;
}

/* article h3 {
    padding-left:0;
} */

article a.post-title:hover {
    text-decoration: underline;
}

article p.posted {    
    margin-top: 0;    
    margin-bottom: 0;
    padding-bottom: 0;
}

article p.small-para {
    margin-top: 0.5%;    
}

div#pagination {
    display: flex;
    flex-flow: row wrap;
}

div.nav-previous {
    flex: 6;
}

div.nav-previous a, div.nav-next a {
    text-decoration: none;
    color: #677ab7;
}

div.nav-previous a:hover, div.nav-next a:hover {
    text-decoration: underline;
}

div.alignleft {
    text-align: left;
}

div.nav-next {
    flex: 6;
}

div.alignright {
    text-align: right;
}

/* Sidebar for all pages except Home page */
#secondary {
    flex: 3;
    box-sizing: border-box;       
}

#secondary ul {
     margin: 0;
     padding: 0;
     position: relative; 
}

#secondary ul li {
    display: inline-block;
    width: 100%;
    height: 100%;
    list-style-type: none;
    box-sizing: border-box;
    padding: 6%;  
    position: absolute;
    z-index: 0;
}

#secondary ul li:nth-of-type(2) {
    position: absolute;
    z-index: 0;
    top: 150px;
}

#secondary ul li:nth-of-type(3) {    
    position: absolute;
    z-index: 0;
    top: 300px;
}

#secondary ul li a.image-link {
    text-decoration: none;   
    display: block;        
    margin-bottom: 0;
    padding-bottom: 0;
    width: 100%;
}

#secondary ul li a.image-link img {    
    width: 100%;    
    max-width: 100%;
    height: auto;
    padding-bottom: 0;
    margin-bottom: 0;
}

#secondary ul li a.page-link {
    text-decoration: none;
    color: #fff;
    background: none;
    text-shadow: 1px 3px 8px #000;
    display: block;    
    font-size: 0.8em;
    position: absolute;
    z-index: 100;
    margin-top: -30px;
    margin-left: 10px;
    font-weight: 600;
}

#secondary ul li a.page-link:hover {
    color: #000;
    text-shadow: 3px -2px 5px #fff;
}

/* Main Picture on Home with its link below to it */
article#home-article {
    width: 100%;
}

.home-article-image-link {
    display: block;
    text-decoration: none;    
}

.home-article-image-link img {
    width: 100%;
    height: auto;
}

.home-article-page-link {
    display: block;
    text-decoration: none;
    padding: 1% 0;
    background: #0164aa;
    color: #e0edf8;
    padding-left: 1%;
    font-size: 0.8em;
    font-weight: 600;    
}

/* Sidebar Home Horizontal */
#secondary-home {
    background: #2e88c9;
    width: 100%;
    height: 205px;    
}

#secondary-home ul {
    position: relative;
    width: 100%;
    height: 200px;
    margin: 0;
    padding: 0;
    padding-left: 3.5%;
    /* margin-bottom: 1%; */
}

#secondary-home ul li {
    display: inline-block;
    width: 30%;
    height: 100%;
    list-style-type: none;
    box-sizing: border-box;
    padding: 1%;  
    position: absolute;
    z-index: 0;    
}

#secondary-home ul li:nth-of-type(2) {
    left: 33.5%;
}

#secondary-home ul li:nth-of-type(3) {
    left: 63.5%;
}

#secondary-home ul li a.image-link-home {
    text-decoration: none;   
    display: inline-block;        
    margin-bottom: 0;
    padding-bottom: 0;
    width: 100%;
}

#secondary-home ul li a.image-link-home img {
    width: 100%;    
    max-width: 100%;
    height: auto;
}

#secondary-home ul li a.page-link-home {
    text-decoration: none;
    display: block;  
    font-size: 0.8em;
    color: #fff;
    background: none;
    text-shadow: 1px 3px 8px #000;
    position: absolute;
    z-index: 100;
    margin-top: -30px;
    margin-left: 10px;
    font-weight: 600;  
}

#secondary-home ul li a.page-link-home:hover {
    color: #000;
    text-shadow: 3px -3px 5px #fff;
}

/* contact page CSS */

input[type=text], input[type=email] {
    width: 300px;
}

textarea {
    width: 300px;
}

/* Comments CSS */

#comment_form {
    width: 100%;
}

/* #comment_form input[type=text] {
    float: left;
}

#comment_form textarea {
    float: left;
} */

#comment_form .comment-form-cookies-consent {
    display: none;
}

#comment_form .comment-notes {
    display: none;
}

#comment_form label {
    display: inline-block;
    width: 100px;
}

/* footer tag of the web page */
footer {
    background: #0164aa;
    font-size: 0.7em;
    color: #e0edf8;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 5%;
    box-sizing: border-box;
    font-weight: 600;
}

footer ul {
    text-align: center;
    padding: 0;
    margin: 0;
}

footer ul li {
    list-style-type: none;
    display: inline-block;
    padding: 0% 1%;
}

footer ul li a {
    text-decoration: none;
    color: #e0edf8;
    font-weight: 600;
}

footer ul li a:hover {
    text-decoration: underline;
}