/*
    Theme Name: Portfolio Anu
    Author: Anu Kulshrestha
    Version: 1.0
    Author URI: http://profile.ayntechnologies.com
    Plugin URI: http://profile.ayntechnologies.com/wordpress/plugins/profile_faq/profile_faq
    Description: Settings common to all assignment2 themes...
*/

@keyframes slidein {
    from { transform: scaleX(0); }
    to   { transform: scaleX(1); }
  }

          
div {
    box-sizing: border-box;
}   
  
/* #main-nav {
    margin-top: 33px;
} */

/* #navbarSupportedContent {
    text-align: right;
} */

.main-menu-nav-container {
    text-align: right;
    width: 100%;
}

.main-menu li{
    box-sizing: border-box;
    padding: 1% 2%;
    font-weight: 500;
    text-align: right;
}

.main-menu li:first-of-type {
    margin-left: 48%;
}

.main-menu li a {
    color: #fff;
    text-decoration: none;
    text-align: right;
    /* display: inline-block; */
}

.main-menu li a:hover {
    text-decoration: underline;    
    font-weight: 500;
}

#page_header {
    width: 100%;
    box-sizing: border-box;
    /* border-radius: 5px; */
}

#page_header img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

h1.display-3 {
    padding-top:0;
    margin-top: 0;    
    padding-bottom: 0;
    margin-bottom: 0;
    background-color: #ddd;
    opacity: 0.7;
}

div.jumbotron {
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    color: #c00;
    /* background-image: url("<?php bloginfo('template_directory'); ?>/images/background.jpg"); */
}

p#intro1, p#intro2, p#intro3 {    
    font-weight: 600;    
    background-color: #ddd;
    opacity: 0.7;
    border-radius: 5px;
    text-align: center;
    padding: 2% 3%;
}

p#intro1 {
    animation: 3s ease-in 0.5s both slidein;    
}

p#intro2 {    
    animation: 3s ease-in 3s both slidein;    
}

p#intro3 {    
    animation: 3s ease-in 6s both slidein;    
}

#show-more {
    background-color: #ddd;
    /* opacity: 0.7; */
    padding: 2% 0;
    padding-left: 2%;
    font-weight: 600;
    border-radius: 5px;
}

/* section */
#left-div {
    height: 100px;
}

section {
    margin-top: 40px;
    min-height: 700px;
}

#carousel {
    width: 100%;
    text-align: center;
    
}

#carousel .soliloquy-container {
    width: 100%;
   
}

#carousel .soliloquy-container img{
    width: 100%;
}

/* sidebar home */
#services img {
    width: 95%;
    height: auto;
    max-width: 100%;
    margin: 2%;
    border-radius: 5px;
}

/* sidebar */
#services-block {
    position: relative;    
}

#services-block li {
    list-style-type: none;
    /* position: absolute;
    top: 5%;
    z-index: 0; */
}


/* footer menu */
footer ul {
    text-align: center;
    margin: 0;
    padding: 0;
}

footer ul li {
    display: inline-block;
    list-style-type: none;    
    padding: 0 2% 1.5% 2%;
}

footer ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}

footer ul li a:hover {
    color: #fff;
}

/* 404 */
#not-found {
    margin: 3% 0;
}

.search_box {
    width: 100%;
    /* padding: 5%; */
    margin: 3% 0;
}

/* comments.php */

#comment_list .comment-body {
	border: 1px solid #ccc;
	margin-top: 3%;
    padding: 1% 2%;
    
}

#comment_list .comment {
	list-style-type: none;
}

#comment_list a {
    color: #fc0;
}

#comment_form a {
    color: #fc0;
}

#comment_form {
    color: #003;
}

#comment_form label {
    display: inline-block;
    width: 100px;
}

#comment_form label:last-of-type {
    width: 95%;
}
#comment_form #submit {
    color: #003;
}

nav a {
    color: #fff;
}

nav a:hover {
    color: #ccc;
}